@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@900&display=swap');
html, body {
    font-family: 'Cubic', serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: rgb(255,255,255);
    height: 100%;
    margin: 0;
    padding: 0;  
}

body {
    background: black;
    background-size: cover;
    /* animation: moveBackground 20s linear infinite; */
    /* background-attachment: fixed; */
    /* text-align: center; */
    min-height: 100vh; /*Ensure body takes full viewport height */
    margin: 0;
}

h1{
    margin: 0;
    font-size:5.2em;
}

h2{
    margin: 0;
    font-size:2.3em;
    /* text-decoration: underline; */
}

h3{
    margin: 0;
    font-size:1.5em;
}

ul{
    margin: 0;
    font-size:1.2em;
    
}

p{
    margin: 0;
    font-size:1.1em;
}

a{
  color: pink;
}

@font-face {
    font-family: 'Cubic';
    src: url('font/Cubic_11_1.200_R.woff') format("woff"),
    
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 19.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: 'Cubic', serif;
  white-space: pre;
  font-size: 30px;
  line-height: 1.2em;
  height:1.2em;
  overflow: hidden;
}
.loader:before {
  content:"Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔"; 
  white-space: pre;
  display: inline-block;
  animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
  100%{transform: translateY(-100%)}
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal img {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.animate {
    transition: transform 0.5s;
    transform: scale(1.1);
}